<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<properties resource="/db.properties" />
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${user}" />
				<property name="password" value="${password}" />
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="co/nnull/prj/gym/service/gym-map.xml" />
		<mapper resource="co/nnull/prj/enquiry/service/enquiry-map.xml" />
		<mapper resource="co/nnull/prj/members/service/members-map.xml" />
		<mapper resource="co/nnull/prj/bulletin/service/bulletinNotice-map.xml"/>
		<mapper resource="co/nnull/prj/bulletin/service/bulletinFree-map.xml"/>
		<mapper resource="co/nnull/prj/bulletin/service/bulletinDeal-map.xml"/>
		<mapper resource="co/nnull/prj/bulletin/service/bulletinExp-map.xml"/>
		<mapper resource="co/nnull/prj/bulletin/service/replyFree-map.xml"/>
		<mapper resource="co/nnull/prj/membership/service/membership-map.xml"/>
		<mapper resource="co/nnull/prj/cal/service/calendar-map.xml"/>
		<mapper resource="co/nnull/prj/order/service/order-map.xml"/>
		<mapper resource="co/nnull/prj/users/service/users-map.xml"/>
	</mappers>
</configuration>
